<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<form class="auth" action="/auth/sign-up" method="POST">
  <h1>Create a new account!</h1>
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" />
  <button type="submit">Sign up</button>
</form>

<%- include('../partials/footer') %>