<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sign-in.css">
<%- include('../partials/nav') %>

<form class="auth" action="/auth/sign-up" method="POST">

  <h1 id="sign-in">Create a new account!</h1>

  <label for="username" id="username-label">Username:</label>
  <input type="text" name="username" id="username"/>

  <label for="password" id="username-label">Password:</label>
  <input type="password" name="password" id="password"/>

  <label for="confirmPassword" id="username-label">Confirm Password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" />

  <button type="submit"><h1>Sign in</h1></button>
</form>
<a href="/"><h1>Back</h1></a>

<%- include('../partials/footer') %>