<nav class="navbar">
  
  <% if (user) { %>
    <div id="title">
      <img src="/img/dayly.png" alt="dayly logo" id="dayly-image">
      <h1 class="navbar-title"><%= title %></h1>
      <a href="/auth/sign-out" class="navbar-link sign-out">Sign out</a>
    </div>

    <div class="navbar-links">
      <a href="/cats" class="navbar-link" id="cats-tab">Categories</a>
      <a href="/tasks" class="navbar-link" id="tasks-tab">Tasks</a>
      
    </div>

  <% } else { %>
    <div id="title">
      <img src="/img/dayly.png" alt="dayly logo" id="dayly-image">
      <h1 class="navbar-title">Dayly</h1>
    </div>
  <% } %>
</nav>
