
.category-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1D2D44;
  padding: 0px;
  margin-bottom: 15px;
}

.category {
  padding: 10px;
}

.category a {
  text-decoration: none;
  color: #F0EBD8;
  padding: 8px 15px;
  transition: background-color 0.3s ease-in-out;
  text-wrap:nowrap;
}

.category a:hover {
  background-color: #6587a4;
  color: #0C111E;
}

.category a.active {
  background-color: #6587a4;
  color: #0C111E;
}


.add-category {
  text-decoration: none;
  color: #0C111E;
  background-color: #5a92c3;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  text-wrap: nowrap;
}

.add-category:hover {
  background-color: #748CAB;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


#cats-tab{
  font-weight: 600;
  color:#0C111E ;
  background-color: #6587a4;
}