<%- include('./partials/html-head') %>
<link rel="stylesheet" href="stylesheets/index.css">

<div id="main">
  <div id="landing-message" >
    <h1 style="font-weight: 300;font-size: 60px;"><%= message %></h1>
    <a href="javascript:history.back()" style="font-weight: 300;font-size: 60px; text-decoration: none;"><h1>Go Back</h1></a>
  </div>
</div>

<%- include('./partials/footer') %>
