/* Style for the task list container */
.task-list-container {
  text-align: center;
  padding: 20px;
  
  
}

/* Task list layout */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Individual task card styling */





#tasks-tab{
  font-weight: 600;
  color:#0C111E ;
  background-color: #3E5C76;
}