.task-list-container {
  text-align: center;
  padding: 20px;
  
  
}


.task-list {
  display: flex;
  flex-direction: column;
  
}



#tasks-tab{
  font-weight: 600;
  color:#0C111E ;
  background-color: #3E5C76;
}