/* Style for the navigation bar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #413636;
  padding: 0px 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
#title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}
/* Style for the title */
.navbar-title {
  color: #846A6A;
  font-size: 200%;
  
}

/* Style for the navigation links container */
.navbar-links {
  width: 100%;
  padding: 0px;
  height: 100%;
  justify-content: right;
  
  display: flex;
  gap: 15px;
}

/* Style for individual navigation links */
.navbar-link {
  height: 100%;
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #353b3c;
  padding: 10px 15px;
  background-color: #938284;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-link:hover {
  background-color: #1153b6;
}

/* Style for the Sign Out button */
.sign-out {
  width: 15%;
  height: 100%;
  background-color: #dc3545;
}

.sign-out:hover {
  background-color: #c82333;
}
