body :not(:first-child){
  display: flex;
  align-items: center;
  justify-content: center;
}



#sign-in{
  font-weight: 500;
  font-size: 60px;
}

#username-label {
font-weight: 300;
font-size: 45px;
}
#username, #password, #confirmPassword{
width: 35vw;
height: 6vh;
padding: 20px;
}
button{
  margin: 20px;
}
