
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Gugi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
  but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}
nav {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: 1px groove ;
}
body{
  color: #F0EBD8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0c111e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230d1321' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

form.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#landing-message{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 200%;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6vh;
  align-items: center;
  text-align: center;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

input{
  background-color: #3E5C76;
  border: none;
  border-radius: 3px;
}

button{
  background-color: #748CAB;
  color: #0C111E;
  border: #F0EBD8 solid 1px ;
  border-radius: 2px;
}
button:hover{
  cursor: pointer;
  background-color: #1D2D44;
  color: #F0EBD8;
}

.add-task {
  text-align: center;
  text-decoration: none;
  color: #F0EBD8;
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid #3E5C76;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.add-task:hover {
  background-color: #3E5C76;
  color: #F0EBD8;
}

.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111a2a73;
  border: 1px solid #0C111E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.298);
  margin: 10px;
  animation: fadeInUp; 
  animation-duration: 1s;
  
}

.task-card:hover {
  background-color: #111A2A;
  transition: background-color 0.5s ease-in-out;
}

.task-title {
  text-decoration: none;
  color:#F0EBD8;
  font-size: 1.5em;
  margin-bottom: 10px;
  
  
}

.task-title:hover {
  text-decoration: none;
  color: #B2BCC2;
}

.task-desc {
  max-width: 90%;
  color: #8EA8C3;
  margin-bottom: 10px;
  text-wrap: pretty;
  
}

.task-status {
  color: #B2BCC2;
  margin-bottom: 15px;
}

.task-due-date {
  color: #999999;
  margin-bottom: 15px;
}
.task-actions {
  min-width: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.edit-task,
.delete-task, .add-task {
  width: 100%;
  min-height: 100%;
  text-wrap: nowrap;
  text-decoration: none;
  color: #F0EBD8;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  animation: pulse; 
  animation-duration: 1s;
  animation-delay: 1s;
}

.edit-task {
  background-color: #275DAD;
}

.edit-task:hover {
  background-color: #1153b6;
}

.delete-task {
  background-color: #5e1118;
}

.delete-task:hover {
  background-color: #870d19;
}

.delete-task-form {
  display: inline;
}

#move-task {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  max-width: 100%;
  min-width: 25%;
}

#move-task>select{
  background-color: #748CAB;
  color: #0C111E;
}

#move-task>button{
  border: none;
  width: inherit
}
#move-task>label{
text-wrap: nowrap;
}

.add-task{
  background-color: #275cad0d;
  min-height: 100%;
  
  border:#1153b6 solid 2px ;
}
.add-task:hover {
  background-color: #1153b6;
}


.task-details{
  text-align: left;
}
.add-task-to-cat{
  height: 100%;
  width: 100%;
}

#dayly-image{

    display: inline;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
  
}